.info-wrapper{
    display:flex;
    justify-content:center;
    margin-top:60px;
}

.info-card{
    background: rgba(30,35,40,0.85);
    padding:40px;
    border-radius:20px;
    max-width:900px;
    color:white;
    backdrop-filter: blur(6px);
}

.mapping-grid{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    gap:10px;
    margin-top:20px;
    font-size:18px;
}

.info-card h1{
    font-size:50px;
}

.info-card h2{
    font-size:44px;
}
.info-card p{
    font-size:27px;
}